@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  font-family: 'Space Mono', monospace;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header" 
    "page"
    "footer";
}